/**
 * Rofi Kanagawa Power Menu Theme
 */
@import "kanagawa.rasi"

window {
	font: inherit;
    location: center;
    width: 640px;
}

listview {
    lines: 5;
}

element-text {
    horizontal-align: 0.5;
}